<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lemonade: Slack Marketplace</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lemonade for Slack">
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="css/theme.css">
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">       
            <h1 class="logo">
                <a class="scrollto" href="#hero">
                    <span class="logo-icon-wrapper"><img class="logo-icon" src="images/lemonade_transparent_logo.png" alt="icon"></span>
                    <span class="text">Lemonade</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-expand-md float-right navbar-inverse" role="navigation">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="active nav-link scrollto" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#features">Features</a></li>                        
                        <li class="nav-item"><a class="nav-link scrollto" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div id="hero" class="hero-section">
        
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
            
            <div class="figure-holder-wrapper">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="figure-holder">
                            <img style="padding-bottom:30px;" class="figure-image img-fluid" src="images/marketplace_icon.gif" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                
                <div class="carousel-item item-1 active">
                    <div class="item-content container">
                        <div class="item-content-inner">
                            
                            <h2 class="heading">Create a marketplace in your workspace </h2>
                            <p class="intro">List, buy and sell items within your trusted network with Lemonade in Slack.</p>
                            <a class="btn btn-primary btn-cta" href="https://slack-garage-sale.web.app/" target="_blank">Add to Slack <i class="fab fa-slack"></i></a>
                            
                        </div><!--//item-content-inner-->
                    </div><!--//item-content-->
                </div><!--//item-->
                
            </div><!--//carousel-inner-->

        </div><!--//carousel-->
    </div><!--//hero-->
    
    <div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">What is Lemonade for Slack?</h2>
            <p class="intro">Lemonade is a Slack application that generates a free flowing marketplace for a workspace. Users are able to upload pictures of any item or goods they would like to list on the marketplace, and anyone within the same workspace can message the seller and buy the items. You can now sell and buy with efficiently within your network!  </p>
            
            <div class="figure-holder-wrapper">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="figure-holder">
                            <img class="figure-image img-fluid" src="images/lemonade_marketplace.png" alt="image" />
                        </div><!--//figure-holder-->
                    </div><!--//row-->
                </div><!--//container-->
            </div><!--//figure-holder-wrapper-->

            <div class="items-wrapper row">
                <div class="item col-md-4 col-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="images/network.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Trusted Network</h3>
                        <div class="item-desc mb-3">
                            By integrating a marketplace to your slack workspace, you can only buy and sell within your own trusted network of friends and colleagues.
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="images/upload.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Simple Uploads</h3>
                        <div class="item-desc mb-3">
                            Lemonade allows you to simply upload a picture via slack, and generate a quality listing with all the necessary information within seconds.
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="images/ui.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Intuitive UI</h3>
                        <div class="item-desc mb-3">
                            Lemonade utilizes application home tab to show the marketplace, your listings and history. It uses the message tab to give permissioning and automated selling flow!
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->
    
    <div id="features" class="features-section">
        <div class="container text-center">
            <h2 class="section-title">Product Features</h2>
            <p class="intro">Here are some awesome features you can use on Lemonade!</p>
                
                <div class="feature-content tab-content col-lg-8 col-md-6 col-12 order-1 order-md-0" style="float:left;">
                <img class="img-fluid" src="images/lemonade_stand.png">
            </div>
                <div class="feature-nav nav nav-pill flex-column col-lg-4 col-md-6 col-12 order-0 order-md-1" style="border-left: 2px solid grey;">
                    <p class="nav-link mb-lg-3"><i class="fas fa-magic mr-2"></i>View all listed items in marketplace</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-cubes mr-2"></i>Selling workflow via App messages</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-comments mr-2"></i>Chat with buyer for any item</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-check mr-2"></i>Mark items as sold and keep history</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-upload mr-2"></i>Upload a picture for all listings</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-bell mr-2"></i>Be alerted about any new listings</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-star mr-2"></i>Segmented view right on app home tab</p>
                    <p class="nav-link mb-lg-3"><i class="fas fa-heart mr-2"></i>Continued support and maintenance</p>
                </div>             
        </div><!--//tabbed-area-->
    </div><!--//features-->
    
    <div class="team-section" id="team">
        <div class="container text-center">
            <h2 class="section-title">Team</h2>
            <div class="story">
                <p>We're just two guys who enjoy making applications and playing basketball. We're passionate about finding ways to improve workspace efficiency. Sky dreams of one day having his own farm, and Paul dreams of opening his own cafe.</p>
            </div>
            <div class="members-wrapper row">
                <div class="item col-md-6 col-12">
                    <div class="item-inner">
                        <div class="profile mb-2">
                            <img class="profile-image" src="images/skypark.png" alt="Sky Park" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Sky Park</h3>
                            <div class="member-title">Full-Stack Developer</div>
                            <ul class="social list-inline">
                                <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/skylerpark/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a class="github" href="https://github.com/hyunwoo126" target="_blank"><i class="fab fa-github"></i></a></li>
                                
                            </ul>
                            <div class="member-desc">
                               <p>Sky is the technical mastermind of the two, and is the primary developer who builds out the systems and code necessary for the applications.  </p>
                            </div><!--//member-desc-->
                        </div><!--//member-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-6 col-12">
                    <div class="item-inner">
                        <div class="profile mb-2">
                            <img class="profile-image" src="images/pauljeon.png" alt="Paul Jeon" />
                        </div>
                        
                        <div class="member-content">
                            <h3 class="member-name">Paul Jeon</h3>
                            <div class="member-title">Developer & Product Manager</div>
                            <ul class="social list-inline">
                                <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/pauljeon1/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a class="github" href="https://github.com/pauljeon" target="_blank"><i class="fab fa-github"></i></a></li>
                               
                                
                            </ul>
                            <div class="member-desc">
                                <p>Paul is the product overlord who designs and generates the product features of the applications. As a former developer, he assists with engineering work as well.
                                </p>
                            </div><!--//member-desc-->
                        </div><!--//member-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//members-wrapper-->
        </div>
    </div><!--//team-section-->
    
 
    <div id="contact" class="contact-section">
        <div class="container text-center">
            <h2 class="section-title">Contact Us</h2>
            <div class="contact-content">
                <p>Feel free to message us on LinkedIn or send us an email to boysinthefarm@gmail.com</p>
                
            </div>
            
        </div><!--//container-->
    </div><!--//contact-section-->
    
    <footer class="footer text-center">
        <div class="container">
            <small class="copyright"></small>
            
            
        </div><!--//container-->
    </footer>
     
    <script type="text/javascript" src="plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
    {{!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  --}}
    {{!--  <script type="text/javascript" src="plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>  --}}
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script> 
       
</body>
</html> 

